html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.square{
    height: 100px;
    width: 100px;
    background: #fef300;
    position: absolute;
    top: calc(50vh - 50px);
    transition: all 100ms ease-in-out;
    transform: rotateZ(0deg);
    border: 1px solid lightgrey;
}

body.mouse .square{
    transition: top, left 0;
}

body.mouseR .square{
    transition: transform 0;
}

.one{
    left: 200;
}
.two{
    left: 500;
}

.active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 100;
}